.about {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.about__title {
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-title-color);
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
}
.about__list {
  //display: flex;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.about__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
  margin-bottom: 30px;
  img {
    width: 100%;
  }
}

.about__wrap {
  position: relative;
}

.about__text {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;

  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);
}
