.clients {
  background: var(--main-background-color);
}

.clients__list {
  display: flex;
}

.clients__title {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.clients__item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
  &:hover .clients__icon,
  &:focus .clients__icon {
    fill: var(--accent-color);
  }
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__icon {
  fill: var(--main-icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
